services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    network_mode: "host"
    volumes:
      - ./config:/config
      - cache:/cache
      - /mnt/store1/dtv:/media-dtv
      - /mnt/store3/video/yt_dl:/media-video-yt_dl
      - /mnt/store3/video/yt_limited:/media-video-yt_limited
      - /mnt/store3/music:/media-music
      - /mnt/prod/recorded:/media-recorded
    restart: always

volumes:
  cache:
